.thank_you_img_container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 1.5rem;
}

.selected {
  background-color: hsl(211, 19%, 24%);
  color: hsl(25, 75%, 46%);
  padding: 8px 12px;
  margin: 1.5rem auto;
  border-radius: 25px;
  text-align: center;
}

.thank_you_title {
  color: hsl(0, 0%, 100%);
  margin: 2rem 0 1rem 0;
  text-align: center;
}

.thank_you_text {
  color: hsl(217, 12%, 63%);
  font-size: 0.92rem;
  line-height: 1.4rem;
  text-align: center;
}